/* ARTESANOS */
.artisan-title {
  font-weight: bold;
  margin: 50px 0;
}
.text {
  margin: 70px 150px;
}

.profile {
  margin: 50px 150px;
}

.avatar {
  display: inline-block;
  padding: 0 100px;
}

.name {
  text-align: center;
}
