/*ARTE*/
.title {
    font-weight: bold;
    margin: 55px 0;
    text-align: center;

  }
  .text {
    margin: 70px 150px;
  }
  
  .profile {
    margin: 50px 100px;
  }
  
  .avatar {
    display: inline-block;
    padding: 0 41px;
  }
  
  .name {
    text-align: center;
  }