main form.Borde{
    background: hsla(305, 100%, 100%, 0.81);
    border: 5px solid rgba(191, 17, 207, 0.726);
    height: 60%;
    width: 60%;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
}
.mensajeVacio{
    color: tomato;
}
.container-lg{
    display: flexbox;
    margin-top: 10%;
}
.oculto {
    display: none;
}
main div .producto{
    background-color: hsla(360, 100%, 100%, 0.86);
}
/*  */
.size span {
    font-size: 11px
}

.color span {
    font-size: 11px
}

.product-deta {
    margin-right: 70px
}

.gift-card:focus {
    box-shadow: none
}

.pay-button {
    color: #fff
}

.pay-button:hover {
    color: #fff
}

.pay-button:focus {
    color: #fff;
    box-shadow: none
}

.text-black {
    color: #000000
}

.qty i {
    font-size: 11px
}
/*  */