main form.Borde{
    background: hsla(305, 100%, 100%, 0.81);
    border: 5px solid rgba(191, 17, 207, 0.726);
    height: 60%;
    width: 60%;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
}
.mensajeVacio{
    color: tomato;
}
.container-lg{
    display: flexbox;
    margin-top: 10%;
}
.oculto {
    display: none;
}
main div .producto{
    background-color: hsla(360, 100%, 100%, 0.86);
}