/* Catalogo*/
.artisan-title {
    font-weight: bold;
    margin: 55px 0;

  }
  .text {
    margin: 50px 150px;
  }
  
  .profile {
    margin: 60px 130px;
  }
  
  .avatar {
    display: inline-block;
    padding: 0 110px;
  }
  
  .name {
    text-align: center;
  }