body {
    background-color: rgb(87,12,131);
}

section {
    align-items: center;
}

#logo {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    align-self: center;
}

.logo {
    width: 100px;
    height: 50px;
    margin: auto;
    
}

.container {
    background-color: white;
    width: 15cm;
    height: 16.5cm;
    border-radius: 50px;
    margin-top: -15px;
}

.iniciar-sesion {
    font-family: 'Mukta', sans-serif;
  color: rgb(87,12,131);
  font-weight: bold;
  text-align: center;
}

.labels {
    font-family: 'Mukta', sans-serif;
    color: rgb(87,12,131);
    font-weight: bold;
    font-size: 20px;
    margin-left: 75px;
}

#email {
    font-family: 'Mukta', sans-serif;
    color: rgb(129, 129, 129);
    width: 10cm;
    height: 1cm;
    margin-left: 75px;
    border: solid 1px;
}

#password {
    font-family: 'Mukta', sans-serif;
    color: rgb(129, 129, 129);
    width: 10cm;
    height: 1cm;
    margin-left: 75px;
    border: solid 1px;
}

#btn-iniciar {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(228,0,124);
    border-radius: 5px;
    border: solid 2px rgb(96,16,133);
    margin-left: 3cm;
    width: 300px;
    height: 40px;
}

.nuevo-miembro {
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    color: rgb(153,107,179);
    font-size: 18px;
    text-align: center;
}

.btn-nuevo {
    width: 300px;
    height: 40px;
    background-color: rgb(237,89,170);
    margin: auto;
    border-radius: 5px;
    border: solid 2px rgb(96,16,133);
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#btn-nuevo-registro {
    color: rgb(96,16,133);
    font-weight: bold; 
}

.nuevo-artesano {
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    color: rgb(153,107,179);
    font-size: 18px;
    text-align: center;
}

#btn-nuevo-registro-artesano {
    color: rgb(96,16,133);
    font-weight: bold; 
}